.cmor-files-file_detail
  %h4.title= resource.title

  %p.description= resource.description

  .resource-actions
    = link_to(main_app.url_for(resource.asset), class: 'btn btn-primary') do
      = files_helper(self).asset_download_button_label(resource.asset)
