= table.column :pathname, sort: true, class: 'truncate-chars truncate-chars-30'
= table.column :filename, sort: true, class: 'truncate-chars truncate-chars-30'
= table.timestamps(sort: true)
= table.acts_as_published_actions