.col-lg-3.mb-4
  %a{ href: url_for(item) }
    %img.img-thumbnail.p-4{:alt => "...", :src => main_app.url_for(item.logo.variant(resize: "512x512>", gravity: :center, extent: "512x512", fx: '(r+g+b)/3', level: '0%,75%')) }/
