.container
  .row
    .col-md-8.col-center.m-auto
      %h2= "Testimonials"
      .carousel.slide{ data: {ride: "carousel"}, id: component.category_identifier }
        %ol.carousel-indicators
          %li.active{data: { target: component.category_identifier, "slide-to": 0}}
        .carousel-inner
          .item.carousel-item.active
            .img-box
            %p.testimonial= "langer ganz ganz langer text."
            %p.overview="John Doe"
        %a.carousel-control.left.carousel-control-prev
          %i.fa.fa-angle-left
        %a.carousel-control.right.carousel-control-next
          %i.fa.fa-angle-right

-# <div class="container">
-# 	<div class="row">
-# 		<div class="col-md-8 col-center m-auto">
-# 			<h2>Testimonials</h2>
-# 			<div id="myCarousel" class="carousel slide" data-ride="carousel">
-# 				<!-- Carousel indicators -->
-# 				<ol class="carousel-indicators">
-# 					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
-# 					<li data-target="#myCarousel" data-slide-to="1" class=""></li>
-# 					<li data-target="#myCarousel" data-slide-to="2" class=""></li>
-# 				</ol>   
-# 				<!-- Wrapper for carousel items -->
-# 				<div class="carousel-inner">
-# 					<div class="item carousel-item active">
-# 						<div class="img-box"><img src="/examples/images/clients/1.jpg" alt=""></div>
-# 						<p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
-# 						<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
-# 					</div>
-# 					<div class="item carousel-item">
-# 						<div class="img-box"><img src="/examples/images/clients/2.jpg" alt=""></div>
-# 						<p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
-# 						<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
-# 					</div>
-# 					<div class="item carousel-item">
-# 						<div class="img-box"><img src="/examples/images/clients/3.jpg" alt=""></div>
-# 						<p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
-# 						<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
-# 					</div>
-# 				</div>
-# 				<!-- Carousel controls -->
-# 				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
-# 					<i class="fa fa-angle-left"></i>
-# 				</a>
-# 				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
-# 					<i class="fa fa-angle-right"></i>
-# 				</a>
-# 			</div>
-# 		</div>
-# 	</div>
-# </div>