.size-xs {
  font-size: 80%;

  table {
    th,
    td {
      padding: 0.25rem;
    }
  }
}

.size-sm {
  font-size: 90%;

  table {
    th,
    td {
      padding: 0.5rem;
    }
  }
}

.size-md {
}

.size-lg {
  font-size: 110%;
}

.size-xl {
  font-size: 120%;
}
