%h2 Our Team
.row
  .col-lg-4.mb-4
    .card.h-100.text-center
      %img.card-img-top{:alt => "", :src => "http://placehold.it/750x450"}/
      .card-body
        %h4.card-title Team Member
        %h6.card-subtitle.mb-2.text-muted Position
        %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
      .card-footer
        %a{:href => "#"} name@example.com
  .col-lg-4.mb-4
    .card.h-100.text-center
      %img.card-img-top{:alt => "", :src => "http://placehold.it/750x450"}/
      .card-body
        %h4.card-title Team Member
        %h6.card-subtitle.mb-2.text-muted Position
        %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
      .card-footer
        %a{:href => "#"} name@example.com
  .col-lg-4.mb-4
    .card.h-100.text-center
      %img.card-img-top{:alt => "", :src => "http://placehold.it/750x450"}/
      .card-body
        %h4.card-title Team Member
        %h6.card-subtitle.mb-2.text-muted Position
        %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
      .card-footer
        %a{:href => "#"} name@example.com