.row
  .col-lg-4.mb-4
    .card.h-100
      %h3.card-header Basic
      .card-body
        .display-4 $19.99
        .font-italic per month
      %ul.list-group.list-group-flush
        %li.list-group-item Cras justo odio
        %li.list-group-item Dapibus ac facilisis in
        %li.list-group-item Vestibulum at eros
        %li.list-group-item
          %a.btn.btn-primary{:href => "#"} Sign Up!
  .col-lg-4.mb-4
    .card.card-outline-primary.h-100
      %h3.card-header.bg-primary.text-white Plus
      .card-body
        .display-4 $39.99
        .font-italic per month
      %ul.list-group.list-group-flush
        %li.list-group-item Cras justo odio
        %li.list-group-item Dapibus ac facilisis in
        %li.list-group-item Vestibulum at eros
        %li.list-group-item
          %a.btn.btn-primary{:href => "#"} Sign Up!
  .col-lg-4.mb-4
    .card.h-100
      %h3.card-header Ultra
      .card-body
        .display-4 $159.99
        .font-italic per month
      %ul.list-group.list-group-flush
        %li.list-group-item Cras justo odio
        %li.list-group-item Dapibus ac facilisis in
        %li.list-group-item Vestibulum at eros
        %li.list-group-item
          %a.btn.btn-primary{:href => "#"} Sign Up!