= form.input :item_type_eq, collection: PaperTrail::Version.distinct.pluck(:item_type).collect { |klass_name| [klass_name.constantize.model_name.human(count: :other), klass_name] }
= form.input :item_id_eq
= form.input :event_eq, collection: PaperTrail::Version.distinct.pluck(:event)
= form.input :whodunnit_eq, collection: PaperTrail::Version.distinct.pluck(:whodunnit).collect { |whodunnit| [administrador_helper(self).label_for(Cmor::Audits::Configuration.whodunnit_find_proc.call(whodunnit)), whodunnit] }