%h1= t('.title')

= Cmor::Contact::Configuration.additional_contact_information.call(self) if Cmor::Contact::Configuration.additional_contact_information.respond_to?(:call)
= render 'form', resource: @resource
