<h1><%= @user.email %></h1>
 
<p>Jemand hat Instruktionen zum zurücksetzen des Passworts ihres <%= @application_name %> Accounts angefordert.</p>

<div class="text-center">
  <%= link_to('Passwort zurücksetzen', cmor_user_area.edit_user_password_reset_url(host: @host, token: @user.perishable_token), class: 'btn btn-primary') %>
</div>

<p>Link: <%= link_to cmor_user_area.edit_user_password_reset_url(host: @host, token: @user.perishable_token), cmor_user_area.edit_user_password_reset_url(host: @host, token: @user.perishable_token) %></p>

<p>Sollten Sie das Zurücksetzen des Passworts nicht angefordert haben, dann können Sie diese E-Mail ignorieren oder uns informieren. Ihr Passwort ändert sich nicht, so lange Sie kein neues eingegeben haben.</p>