.indent {}

.indent-chars-1 { padding: 1ch; }
.indent-chars-2 { padding: 2ch; }
.indent-chars-3 { padding: 3ch; }
.indent-chars-4 { padding: 4ch; }
.indent-chars-5 { padding: 5ch; }
.indent-chars-6 { padding: 6ch; }
.indent-chars-7 { padding: 7ch; }
.indent-chars-8 { padding: 8ch; }
.indent-chars-9 { padding: 9ch; }
.indent-chars-10 { padding: 10ch; }