<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tbody>
      <%= render partial: 'cmor/links/links/link_in_table', collection: links, as: :link %>
    </tbody>
  </table>
</div>
