.carousel-video {
  position:relative;
}

.carousel-video video {
  position:relative;
    z-index:0;
}

.carousel-video .video-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel-video .video-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 1.5rem 1rem;
}

.carousel-video .video-controls:hover {
  cursor: pointer;
}