<%= render @category %>

<div class="well">
<% if @category.root? %>
  <%= link_to(t('cmor.links.category.actions.back_to_index'), cmor_links.categories_path, class: 'btn btn-default') if respond_to?(:cmor_links_categories_path) %>
<% else %>
  <%= link_to(Cmor::Links::Category.human_attribute_name(:parent), @category.parent, class: 'btn btn-default') %>
<% end %>
</div>
