%h1= resource_class.model_name.human(count: :other)

.row
  - @collection.each do |picture_gallery|
    .col-4
      - image_options = if picture_gallery.picture_details.first.try(:asset).present?
        - { src: main_app.url_for(picture_gallery.picture_details.first.asset.variant(Cmor::Galleries::Configuration.thumbnail_variant_options)) }
      - else
        - {}
      .card.text-center.border-0
        %img.card-img-top{ image_options }
        .card-body
          %h5.card-title
            = picture_gallery.name
          %p.card-text
            = picture_gallery.description
          = link_to(t('.show'), picture_gallery, class: 'btn btn-primary')
