%h1= resource_class.model_name.human(count: :other)

.row
  - @collection.each do |picture_gallery|
    .col-4.d-flex.flex-column.mb-5
      - image_options = if picture_gallery.picture_details.first.try(:asset).present?
        - { src: main_app.url_for(picture_gallery.picture_details.first.asset.variant(Cmor::Galleries::Configuration.thumbnail_variant_options)) }
      - else
        - {}
      .picture_gallery-preview_image.mb-3
        %a.w-100{ href: url_for(picture_gallery) }
          %img.img-fluid{ image_options }
      .picture_gallery-text.mb-3
        .picture_gallery-name
          = picture_gallery.name
        .picture_gallery-description
          = picture_gallery.description
      .picture_gallery-actions.mt-auto.d-flex
        = link_to(t('.show'), picture_gallery, class: 'btn btn-primary mx-auto')
