.row.mb-4
  .col-md-8
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
  .col-md-4
    = link_to("Call to Action", cmor_contact.root_path, class: 'btn btn-lg btn-primary btn-block')