.row
  .col-lg-4.col-sm-6.portfolio-item
    .card.h-100
      %a{:href => "#"}
        %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
      .card-body
        %h4.card-title
          %a{:href => "/de/tischfussball-fuer-newcomer"} Newcomer
        %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!

  .col-lg-4.col-sm-6.portfolio-item
    .card.h-100
      %a{:href => "/de/tischfussball-fuer-kneipenkickerer"}
        %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
      .card-body
        %h4.card-title
          %a{:href => "#"} Kneipenkickerer
        %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!

  .col-lg-4.col-sm-6.portfolio-item
    .card.h-100
      %a{:href => "/de/tischfussball-fuer-vereinsspieler"}
        %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}/
      .card-body
        %h4.card-title
          %a{:href => "#"} Liagspieler
        %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!