- messages.each do |type, content|
  .alert.alert-dismissible.fade.show{ role: "alert", class: "alert-#{type}"} 
    = content
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×