<!DOCTYPE html>
<html>
<head>
  <title>Cmor files</title>
  <%= stylesheet_link_tag    "cmor/files/application", media: "all" %>
  <%= javascript_include_tag "cmor/files/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
