.ml-auto
  - if Cmor::Core.features?(:cmor_transports) && available_rest_actions.include?(:export)
    = link_to(export_path, class: 'btn btn-secondary btn-circle btn-lg') do
      %i.fas.fa-file-export
  - if available_rest_actions.include?(:new)
    = link_to({ action: :new }, class: 'btn btn-success btn-circle btn-lg') do
      %i.fas.fa-plus