<h5>Social Media</h5>

<p class="small mb-0">Wir benutzen Plugins für soziale Medien um Ihnen erweiterte Funktionen wie z.B. das Teilen von Inhalten zu ermöglichen. Diese Plugins setzen Cookies um korrekt zu funktionieren und zu messen, wir oft diese Inhalte geteilt wurden.</p>