<h1><%= @user.email %></h1>
<p>Someone requested that the password of your <%= @application_name %> account be reset.</p>
<div class="text-center">
  <%= link_to('Reset my password', cmor_user_area_frontend.edit_user_password_reset_url(host: @host, token: @user.perishable_token), class: 'btn btn-primary') %>
</div>
<p>Copyable link: <%= link_to cmor_user_area_frontend.edit_user_password_reset_url(host: @host, token: @user.perishable_token), cmor_user_area_frontend.edit_user_password_reset_url(host: @host, token: @user.perishable_token) %></p>
<p>If you didn't request this, you can ignore this email or let us know. Your password won't change until you create a new password.</p>
