<!DOCTYPE html>
<html>
<head>
  <title>Cmor galleries backend</title>
  <%= stylesheet_link_tag    "cmor/galleries/backend/application", media: "all" %>
  <%= javascript_include_tag "cmor/galleries/backend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
