.well
  = form.input :locale,  collection: I18n.available_locales.map(&:to_s)

.well
  ~ form.input :meta_description
  ~ form.input :body

.well
  = form.input :format,  collection: Mime::SET.symbols
  = form.input :handler, collection: ActionView::Template::Handlers.extensions