.page-action
  #page-action-whatsapp
    %button.btn.btn-lg.btn-primary.btn-circle.btn-whatsapp{ id: "cmor-contact-whatsapp-popover-button", data: { container: "body", toggle: "cmor-contact-whatsapp-popover", boundary: 'viewport', url: cmor_contact.whatsapp_requests_path } }
      %i.fab.fa-whatsapp