#contact-widget.bg-secondary
  .mail
    = link_to("#", "data-load": cmor_contact.contact_requests_path(format: :js), "data-target": "#contact-modal", title: t(".contact_link_title")) do
      %i.fas.fa-envelope
