= form.input :version_at, as: :date_time_picker, side_by_side: true, icon_provider: :font_awesome, input_html: { name: 'version_at', class: 'mr-2' }, label: ::PaperTrail::Version.human_attribute_name(:version_at), label_html: { class: 'd-inline mr-2' }
